<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236937112483-m9f40q3akg5gjr44j1j0mosv8v8kdjbg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236937112483-m9f40q3akg5gjr44j1j0mosv8v8kdjbg</string>
	<key>API_KEY</key>
	<string>AIzaSyAHJy_0HcKG_LrX45sjD2yGLiLWY4bpxio</string>
	<key>GCM_SENDER_ID</key>
	<string>236937112483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.yuya.yamamoto.MorningApp</string>
	<key>PROJECT_ID</key>
	<string>morningapp-8ea8b</string>
	<key>STORAGE_BUCKET</key>
	<string>morningapp-8ea8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236937112483:ios:df828dcb080cbdd3d90816</string>
</dict>
</plist>